<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <script src="/libs/jquery.min.js"></script>

<link rel="stylesheet" href="/libs/bootstrap.min.css">
<script src="/libs/bootstrap.min.js"></script> -->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="/libs/css/bootstrap.min.css">
<link rel="stylesheet" href="/libs/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/libs/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/libs/js/jquery.min.js"></script>
<script src="/libs/js/popper.min.js"></script>
<script src="/libs/js/bootstrap.min.js"></script>
<script src="/libs/js/bootstrap-select.min.js"></script>
<script src="/libs/js/validation.js"></script>
<script src="/js/scripts.js"></script>
