<% layout('layout') -%>
<style>
.card-default {
    color: #333;
    background: linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
    font-weight: 600;
    border-radius: 6px;
}
</style>
<script type="text/javascript" src="/js/CreateBuying.js"></script>
<form id="form"></form>
<div class="container">
<div id="accordion">
    <div class="card card-default">
        <div class="card-header">
            <h4 class="card-title text-center">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <i class="glyphicon glyphicon-search text-gold"></i>
                    <b>Buying</b>
                </a>
            </h4>
        </div>        
            <div id="collapse1" class="collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Currency</label>
                                <select id="ddCurrencyFrom" name="Currency from" class="form-control selectpicker required" data-subtext="true" title="Select">
                                </select>
                                <span class="txt-red" id="errddCurrency">&nbsp;</span>
                            </div>
                        </div>     
                        <div class="col-md-3 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Exchange with</label>
                                <select id="ddCurrencyTo" name="Currency from" class="form-control selectpicker required" data-subtext="true" title="Select">
                                </select>   
                            </div>               
                        </div>    
                    </div>

                    <div class="row">
                        <div class="col-md-1 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Quantity</label>
                                <input type="number" class="form-control required" id="txtQuantity" name="Quantity"/>
                                <span class="txt-red" id="errtxtQuantity">&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Rate</label>
                                <input type="number" class="form-control required" id="txtRate" name="Rate" readonly/>
                                <span class="txt-red" id="errtxtRate">&nbsp;</span>
                            </div>
                        </div>

                        <div class="col-md-1 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Amount Received</label>
                                <input type="number" class="form-control required" id="txtAmountReceived" name="Amount Received"/>
                                <span class="txt-red" id="errtxtAmountReceived">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-8">
                            <div class="form-group">
                                <label class="control-label">Customer Name</label>
                                <input type="text" class="form-control required" id="txtCustomerName" name="Customer Name"/>
                                <span class="txt-red" id="errtxtCustomerName">&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Passport number</label>
                                <input type="text" class="form-control required" id="txtPassportNumber" name="Passport number"/>
                                <span class="txt-red" id="errtxtPassportNumber">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" class="form-control" id="txtAddress" name="Address"/>
                                <span class="txt-red" id="errtxtAddress">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-12">
                            <div class="form-group">
                                <label class="control-label">Country of Origin</label>
                                <input type="text" class="form-control" id="txtCountry" name="Country of Origin"/>
                                <span class="txt-red" id="errtxtCountry">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">NIN</label>
                                <input type="text" class="form-control" id="txtNIN" name="NIN"/>
                                <span class="txt-red" id="errtxtNIN">&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-6">
                            <div class="form-group">
                                <label class="control-label">Phone number</label>
                                <input type="text" class="form-control" id="txtPhoneNumber" name="Phone number"/>
                                <span class="txt-red" id="errtxtPhoneNumber">&nbsp;</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-lg-4 offset-lg-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary col-md-5 btn-space float-left" onclick="RedirectToHome()">Cancel</button>
                               
                                <button type="button" class="btn btn-primary col-md-5 btn-space float-right" onclick="CreateInvoice()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
    </div>
</div>
</div>
</form>
<!-- Modal -->
<div class="modal fade" id="modalCreateOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Create order</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <p>Order created successfully!</p>
        </div>
        <div class="modal-footer">
            <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="RedirectToHome()">Close</button>
            </div>
        </div>
        </div>
    </div>
</div>

